In [18]:
import os
import numpy as np
import pandas as pd

In [19]:
path = r'C:\Users\Zarqa Ayub\Instacart Basket Analysis'

In [21]:
# Import the existing data 
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
df_ords_prior = pd.read_csv(r'C:\Users\Zarqa Ayub\Instacart Basket Analysis\02 Data\Original Data\orders_products_prior.csv', index_col = None)

In [22]:
## check the dimensions
df_ords.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'eval_set', 'order_number',
       'order_dow', 'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [23]:
## Remove unnecessary columns
df_ords.drop(columns = {'eval_set', 'Unnamed: 0'}, inplace = True)

In [24]:
## Rename columns
df_ords.rename(columns = {'order_dow':'orders_day_of_week', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [25]:
## Check the output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [26]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [27]:
# check data types and how much space the dataframe is taking
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [28]:
# Change types for ords prods data set 

df_ords_prior['product_id'] = df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']= df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']= df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']= df_ords_prior['order_id'].astype('int32')

In [29]:
# check output for memory usage
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [30]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_time_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [31]:
# Change types for ords data set

df_ords['order_id']= df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']= df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']= df_ords['orders_day_of_week'].astype('int8')
df_ords['order_time_of_day']= df_ords['order_time_of_day'].astype('int8')
df_ords['days_since_prior_order']= df_ords['days_since_prior_order'].astype('float16')

In [32]:
## check output to see memory usage
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [33]:
# Merge the datasets

df_merged = df_ords.merge(df_ords_prior, on = ['order_id'], how = 'outer', indicator = True)

In [34]:
df_merged['_merge'].value_counts(dropna = False)

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [35]:
## Check output for memory usage. 
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32640698 entries, 0 to 32640697
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              float64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   _merge                  category
dtypes: category(1), float16(1), float64(3), int32(2), int8(3)
memory usage: 1.2 GB

As the file is so big. So, pickle is the best becasue it will export it quicker.

In [36]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [37]:
# Export merged dataframe.
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))