In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
path = r'C:\Users\Zarqa Ayub\Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
# Create a subset 
df = ords_prods_merge[:1000000]

In [5]:
# check the dimensions
df.shape

(1000000, 16)

In [6]:
# Split data into groups
df.groupby('product_name')

In [7]:
# apply the agg() function to each group to obtain values for the 'order_num' column
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.562844
2.0              17.518895
3.0              16.907152
4.0              17.537934
5.0              14.894521
6.0              16.658449
7.0              17.072954
8.0              14.942021
9.0              15.447580
10.0             18.681852
11.0             15.352278
12.0             14.327957
13.0             16.578690
14.0             16.666369
15.0             16.153766
16.0             17.768070
17.0             15.602964
18.0             19.674252
19.0             16.924344
20.0             16.292631
21.0             25.535596

In [8]:
# calculate the mean without using the agg() function.
df.groupby('department_id')['order_number'].mean()

department_id
1.0     15.562844
2.0     17.518895
3.0     16.907152
4.0     17.537934
5.0     14.894521
6.0     16.658449
7.0     17.072954
8.0     14.942021
9.0     15.447580
10.0    18.681852
11.0    15.352278
12.0    14.327957
13.0    16.578690
14.0    16.666369
15.0    16.153766
16.0    17.768070
17.0    15.602964
18.0    19.674252
19.0    16.924344
20.0    16.292631
21.0    25.535596
Name: order_number, dtype: float64

In [9]:
# produing multiple statistics at the same time
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
1.0              15.562844  1.0  99.0
2.0              17.518895  1.0  96.0
3.0              16.907152  1.0  99.0
4.0              17.537934  1.0  99.0
5.0              14.894521  1.0  99.0
6.0              16.658449  1.0  99.0
7.0              17.072954  1.0  99.0
8.0              14.942021  1.0  98.0
9.0              15.447580  1.0  99.0
10.0             18.681852  1.0  99.0
11.0             15.352278  1.0  99.0
12.0             14.327957  1.0  99.0
13.0             16.578690  1.0  99.0
14.0             16.666369  1.0  99.0
15.0             16.153766  1.0  99.0
16.0             17.768070  1.0  99.0
17.0             15.602964  1.0  99.0
18.0             19.674252  1.0  99.0
19.0             16.924344  1.0  99.0
20.0             16.292631  1.0  99.0
21.0             25.535596  1.0  98.0

### Create a loyality flag

In [10]:
# 1. split data into groups 
# 2. work out the max orders for each user
# 3. create a max_order column to put your reults in
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
# Check the output
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,Busiest days,Busiest_period_of_day,max_order
0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,28.0,6.0,11.0,3.0,5.0,0.0,both,Regularly busy,Most orders,33.0
1,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,30.0,6.0,17.0,20.0,1.0,1.0,both,Regularly busy,Average orders,33.0
2,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,2.0,0.0,21.0,6.0,20.0,0.0,both,Busiest days,Average orders,6.0
3,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,1.0,3.0,13.0,8.0,10.0,0.0,both,Least busy,Most orders,4.0
4,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,3.0,4.0,17.0,9.0,11.0,1.0,both,Least busy,Average orders,4.0
5,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1701441.0,777.0,16.0,1.0,7.0,26.0,7.0,0.0,both,Busiest days,Least orders,27.0
6,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1871483.0,825.0,3.0,2.0,14.0,30.0,2.0,0.0,both,Regularly busy,Most orders,10.0
7,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1290456.0,910.0,12.0,3.0,10.0,30.0,1.0,0.0,both,Least busy,Most orders,13.0
8,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,369558.0,1052.0,10.0,1.0,20.0,19.0,1.0,0.0,both,Busiest days,Average orders,21.0
9,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,589712.0,1052.0,15.0,1.0,12.0,15.0,2.0,1.0,both,Busiest days,Most orders,21.0
10,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1798115.0,1379.0,1.0,5.0,11.0,8.0,1.0,0.0,both,Regularly busy,Most orders,11.0
11,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,497193.0,1480.0,36.0,3.0,13.0,7.0,1.0,0.0,both,Least busy,Most orders,44.0
12,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1727826.0,1480.0,38.0,4.0,13.0,7.0,3.0,1.0,both,Least busy,Most orders,44.0
13,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,2694698.0,1480.0,39.0,2.0,12.0,12.0,4.0,1.0,both,Regularly busy,Most orders,44.0
14,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,3171753.0,1494.0,6.0,3.0,10.0,2.0,8.0,0.0,both,Least busy,Most orders,14.0

In [12]:
# Tell panda not to assign a maximum number of rows to display
pd.options.display.max_rows = None

### Create a flag that assign a "loyality" label to a user ID based on its corresponding max order value

In [13]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [ ]:
ords_prods_merge['max_order']

In [ ]:
# export merged pickle file.
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))